/*DATA FORM*/

#dataForm {
  /*General properties*/
  width: 80%;
  padding-bottom: 3rem;
  border-bottom: solid 2px var(--site-primary-color);
}

.form {
  /*General properties*/
  width: 100%;
  /*Display*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.form__section {
  /*Display*/
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__set {
  /*General properties*/
  font-size: var(--main-font-size);
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
  /*Display*/
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__field {
  /*General properties*/
  width: 100%;
  /*Display*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  /*Position*/
  position: relative;
}

.form__field > input {
  /*General properties*/
  width: 12.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--site-white-color);
  border: solid 1px var(--site-primary-color);
  background-color: var(--site-primary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.form__field > input:not(:focus) {
  /*General properties*/
  background-color: var(--site-primary-color);
}

.form__field > input::placeholder {
  /*General properties*/
  color: var(--site-white-color);
}

/*Reset input style*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--site-primary-color) inset !important;
}

/*Calendar icon in date input*/
.form__field > input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.form__field > small {
  /*General properties*/
  width: 80%;
  text-align: center;
  font-size: 0.7rem;
  /*Position*/
  position: absolute;
  bottom: -1.2rem;
}

.form__field > small.optional {
  /*Position*/
  bottom: -2.2rem;
}

.form__footer {
  /*General properties*/
  width: 100%;
  /*Display*/
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.form__footer--btn {
  /*General properties*/
  cursor: pointer;
  width: 4rem;
  height: 2.4rem;
  border-radius: 1.5rem;
  font-size: var(--detail-font-size);
  border: solid 1px var(--site-black-color);
  background-color: var(--site-black-color);
  color: var(--site-white-color);
}

.form__footer--btn:hover {
  /*General properties*/
  border: solid 1px var(--site-primary-color);
  background-color: var(--site-white-color);
  color: var(--site-primary-color);
}

.form__footer--btn[type="reset"] {
  /*General properties*/
  border: solid 1px var(--site-primary-color);
  background-color: var(--site-white-color);
  color: var(--site-primary-color);
}

.form__footer--btn[type="reset"]:hover {
  /*General properties*/
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.error {
  /*General properties*/
  color: var(--site-error-color);
}

/*DATA FORM MEDIA QUERIES PC*/

@media screen and (min-width: 1200px) {
  #dataForm {
    /*General properties*/
    border-bottom: none;
    padding-bottom: 0rem;
  }

  .form {
    /*General properties*/
    height: 100%;
    /*Display*/
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .form__section {
    /*Display*/
    flex-direction: row;
  }

  .form__set {
    /*Display*/
    flex-direction: row;
  }

  .form__field {
    /*General properties*/
    width: 20rem;
    /*Display*/
    flex-direction: row;
  }

  .form__field > label {
    /*General properties*/
    padding-right: 1rem;
  }

  .form__field > small {
    /*General properties*/
    text-align: start;
    padding-top: 0.5rem;
    /*Position*/
    bottom: -1.2rem;
  }

  .form__field > small.optional {
    /*Position*/
    left: 0;
    bottom: -2rem;
  }
}
