/*RESULT DETAIL*/
#resultDetail {
  /*General properties*/
  width: 80%;
  padding-bottom: 3rem;
  border-bottom: solid 2px var(--site-primary-color);
  /*Display*/
  display: flex;
  justify-content: center;
  /*Position*/
  position: relative;
}

.result__error {
  /*General properties*/
  text-align: center;
  height: 100%;
  /*Display*/
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result__list {
  /*General properties*/
  list-style: none;
  /*Display*/
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.result__list--item {
  /*General properties*/
  font-size: var(--detail-font-size);
  /*Display*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.result__list--item .fa-solid {
  /*General properties*/
  font-size: 2rem;
  color: var(--site-primary-color);
}

.result__list--item > p {
  /*General properties*/
  width: 100%;
  /*Display*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.result__footer {
  /*Display*/
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /*Position*/
  position: absolute;
  top: 0;
  right: -1rem;
}

.result__footer--btn {
  /*General properties*/
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  font-size: var(--icon-font-size);
  color: var(--font-primary-color);
}

.result__footer--btn:hover {
  /*General properties*/
  color: var(--site-primary-color);
}

/*RESULT DETAIL MEDIA QUERIES TABLET*/

@media screen and (min-width: 768px) {
  #resultDetail {
    /*General properties*/
    height: 10rem;
    padding-bottom: 1rem;
  }

  .result__list {
    /*General properties*/
    height: 100%;
    /*Display*/
    flex-direction: row;
    gap: 1rem;
  }

  .result__list--item {
    /*General properties*/
    width: 8rem;
    height: 100%;
  }

  .result__footer {
    /*Position*/
    top: 1.1rem;
    right: -2.5rem;
  }
}

/*RESULT DETAIL MEDIA QUERIES PC*/

@media screen and (min-width: 1200px) {
  #resultDetail {
    /*General properties*/
    height: 10rem;
    width: 50rem;
    margin-top: 4rem;
    padding-bottom: 3rem;
    border-bottom: none;
  }

  .result__list {
    /*General properties*/
    height: 100%;
    /*Display*/
    gap: 3rem;
  }

  .result__list--item {
    /*General properties*/
    width: 10rem;
    height: 100%;
    /*Display*/
    gap: 3rem;
  }

  .result__footer {
    /*Position*/
    top: -1rem;
    right: -4rem;
  }
}
