/*RESULTS LIST*/

.results__list {
  /*General properties*/
  width: 80vw;
  height: 100%;
  list-style: none;
  /*Display*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.results__msg {
  /*General properties*/
  width: 80%;
  height: 4rem;
  margin: 1rem auto;
  border-bottom: solid 2px var(--site-primary-color);
  color: var(--site-primary-color);
  font-size: var(--main-font-size);
  text-align: center;
}

/*RESULT LIST MEDIA QUERIES TABLET*/

@media screen and (min-width: 768px) {
  .results__list {
    /*General properties*/
    width: 100%;
    padding-bottom: 3rem;
    /*Display*/
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/*RESULT LIST MEDIA QUERIES PC*/

@media screen and (min-width: 1200px) {
  .results__list {
    /*General properties*/
    width: 80vw;
    height: 16rem;
    padding: 1rem 1rem 1rem 1rem;
    overflow-y: hidden;
    overflow-x: scroll;
    /*Display*/
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    /*Scroll bar firefox settings*/
    scrollbar-color: rgb(210,210,210);
    scrollbar-width: thin;
  }

  /*Scroll bar settings*/
  .results__list::-webkit-scrollbar {
    /*General properties*/
    height: 10px;
  }

  .results__list::-webkit-scrollbar-track {
    /*General properties*/
    background-color: transparent;
  }

  .results__list::-webkit-scrollbar-thumb {
    /*General properties*/
    background-color: #d6dee1;
    border-radius: 20px;
  }

  .results__list::-webkit-scrollbar-thumb:hover {
    /*General properties*/
    background-color: #a8bbbf;
  }

  .results__msg {
    /*General properties*/
    width: 100%;
    height: 16rem;
    /*Display*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
