/*VARIABLES*/

:root {
  /*Main site colors*/
  --site-background-color: #fafafa;
  --site-primary-color: #fe4dab;
  --site-secondary-color: #555;
  --site-white-color: #fff;
  --site-black-color: #121212;
  --site-error-color: #ff0000;

  /*Main font types*/
  font-family: "Open Sans", sans-serif;

  /*Main font colors*/
  --font-primary-color: #1d1d1f;
  --font-secondary-color: #161617;
  
  /*Font size value conversion from px to rem*/
  font-size: calc((var(--base) / 16) * 100%);
  --base: 16;
  --r48: calc((48 / var(--base) * 1rem));
  --r26: calc((26 / var(--base) * 1rem));
  --r20: calc((20 / var(--base) * 1rem));
  --r18: calc((18 / var(--base) * 1rem));
  --r16: calc((16 / var(--base) * 1rem));
  --r14: calc((14 / var(--base) * 1rem));

  /*Main font sizes*/
  --hero-font-size: var(--r48);
  --icon-font-size: var(--r26);
  --title-font-size: var(--r20);
  --nav-font-size: var(--r18);
  --main-font-size: var(--r16);
  --detail-font-size: var(--r14);
}
