/*HEADER*/
#header {
  /*General properties*/
  height: 10vh;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--site-background-color);
  /*Position*/
  position: fixed;
  z-index: 20;
}

header-ui {
  /*General properties*/
  height: 100%;
  width: 100%;
  /*Display*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  /*General properties*/
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: var(--detail-font-size);
  font-weight: 800;
  color: var(--site-primary-color);
}

.header__title--light {
  /*General properties*/
  font-weight: 100;
}

.header__title:hover {
  /*General properties*/
  color: var(--font-primary-color);
}

.header__icon {
  /*General properties*/
  cursor: pointer;
  font-size: var(--title-font-size);
  color: var(--font-primary-color);
  padding: 1rem;
}

.header__nav {
  /*General properties*/
  width: 100%;
  height: 50vh;
  background-color: var(--site-background-color);
  /*Display*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  /*Position*/
  position: absolute;
  top: 10vh;
  right: 0rem;
}

.header__nav > a {
  /*General properties*/
  text-decoration: none;
  text-transform: lowercase;
  font-size: var(--nav-font-size);
  color: var(--font-primary-color);
}

.header__nav > a:hover {
  /*General properties*/
  color: var(--site-primary-color);
}

.hideShow {
  /*Display*/
  display: none;
}

@media screen and (min-width: 1200px) {
  /*HEADER*/
  #header {
    /*General properties*/
    background-color: transparent;
    padding-left: 4rem;
    padding-right: 4rem;
    /*Display*/
    justify-content: flex-start;
  }

  .header__title {
    /*General properties*/
    font-size: var(--main-font-size);
    /*Position*/
    position: absolute;
  }

  .hideShow {
    /*Display*/
    display: flex;
  }

  .header__nav {
    /*General properties*/
    height: 100%;
    background-color: transparent;
    /*Display*/
    flex-direction: row;
    justify-content: flex-end;
    gap: 5rem;
    /*Position*/
    position: initial;
  }

  .header__icon {
    /*Display*/
    display: none;
  }
}
