/*LOADING UI*/

loading-ui {
  /*General properties*/
  width: 100%;
  /*Display*/
  display: flex;
  justify-content: center;
}

.loading__ellipsis {
  /*General properties*/
  height: 100%;
  width: 35%;
  /*Display*/
  display: inline-block;
  /*Position*/
  position: relative;
}

.loading__ellipsis div {
  /*General properties*/
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--site-primary-color);
  /*Position*/
  position: absolute;
  top: 4rem;
  /*Animation*/
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading__ellipsis div:nth-child(1) {
  /*Position*/
  left: 8px;
  /*Animation*/
  animation: lds-ellipsis1 0.6s infinite;
}

.loading__ellipsis div:nth-child(2) {
  /*Position*/
  left: 8px;
  /*Animation*/
  animation: lds-ellipsis2 0.6s infinite;
}

.loading__ellipsis div:nth-child(3) {
  /*Position*/
  left: 32px;
  /*Animation*/
  animation: lds-ellipsis2 0.6s infinite;
}

.loading__ellipsis div:nth-child(4) {
  /*Position*/
  left: 56px;
  /*Animation*/
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media screen and (min-width: 768px) {
  .loading__ellipsis {
    /*General properties*/
    width: 14%;
  }
}

@media screen and (min-width: 1200px) {
  .loading__ellipsis {
    /*General properties*/
    width: 7%;
  }
}
