/*LOGO UI*/
.sunLogoSvg {
  /*General properties*/
  fill: var(--site-black-color);
}

.logoEyeballs {
  /*General properties*/
  transform-origin: center;
  transform-box: fill-box;
  /*Animation*/
  animation: open-close 1s infinite ease alternate-reverse;
}

@keyframes open-close {
  from {
    transform: scale(80%);
  }
  to {
    transform: scale(100%);
  }
}

.logoFlowers {
  /*General properties*/
  fill-opacity: 0;
  stroke: var(--site-black-color);
  stroke-width: 1.2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 2000;
  /*Animation*/
  animation: draw 5s ease-in-out;
}

@keyframes draw {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
