/* RESULT ITEM UI*/

.item {
  /*General properties*/
  min-width: 16rem;
  height: 100%;
  padding: 2rem;
  border-radius: 1rem 1rem 2rem 4rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /*Display*/
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /*Position*/
  position: relative;
  transition: 0.5s;
}

.item:hover {
  /*General properties*/
  transform: scale(1.05);
  opacity: 0.9;
}

/*Light theme*/
.theme--light {
  /*General properties*/
  background-color: var(--site-primary-color);
}
.theme--light > button {
  /*General properties*/
  color: var(--site-white-color);
}
.theme--light > button:hover {
  /*General properties*/
  color: var(--site-black-color);
}

/*Dark theme*/
.theme--dark {
  background-color: var(--site-black-color);
  color: var(--site-white-color);
}
.theme--dark > button {
  color: var(--site--white-color);
}
.theme--dark > button:hover {
  color: var(--site-primary-color);
}

.item__title {
  /*General properties*/
  font-size: var(--main-font-size);
}

.item__list {
  /*General properties*/
  list-style: none;
}

.item__list > li {
  /*General properties*/
  font-size: var(--detail-font-size);
  padding-top: 0.5rem;
  /*Display*/
  display: flex;
  justify-content: space-between;
}

.item__btn {
  /*General properties*/
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  font-size: var(--title-font-size);
  /*Position*/
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
}
