/*ERROR LOGO UI*/

.resultLogoSvg {
  /*General properties*/
  width: 12rem;
  height: 100%;
  fill: var(--site-primary-color);
}

.result__error {
  /*General properties*/
  height: 100%;
}

.result__error > p {
  /*General properties*/
  font-size: var(--detail-font-size);
  color: var(--site-primary-color);
}
