/*HOME PAGE*/
home-page {
  /*General properties*/
  width: 100%;
}

/*ARTICLE*/
.home__article {
  /*Display*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.home__hero {
  /*General properties*/
  font-size: 3.4rem;
  color: var(--site-primary-color);
  text-transform: uppercase;
}

.home__article > div {
  /*General properties*/
  color: var(--font-secondary-color);
  text-align: center;
  padding-bottom: 2rem;
  /*Display*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.home__article--title {
  /*General properties*/
  font-size: var(--hero-font-size);
  text-transform: uppercase;
}

.home__article--desc {
  /*General properties*/
  font-size: var(--main-font-size);
}

.home__article--list {
  /*General properties*/
  width: 80%;
  list-style: none;
  /*Display*/
  display: flex;
  justify-content: space-between;
  /*Position*/
  position: relative;
}

.home__article--list:after {
  /*General properties*/
  content: "";
  width: 100%;
  border-bottom: solid 2px var(--site-primary-color);
  /*Position*/
  position: absolute;
  left: 0;
  top: 50%;
}

.home__article--list > li {
  /*General properties*/
  cursor: pointer;
  background-color: var(--site-primary-color);
  width: 2rem;
  height: 2rem;
  color: var(--site-white-color);
  border-radius: 50%;
  /*Display*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*Position*/
  z-index: 1;
}

.home__article--list > li > span {
  /*General properties*/
  visibility: hidden;
  width: 9rem;
  background-color: var(--site-secondary-color);
  color: var(--site-white-color);
  text-align: center;
  border-radius: 1rem;
  padding: 0.8rem;
  /*Position*/
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /*Transition*/
  opacity: 0;
  transition: opacity 0.3s;
}

.home__article--list > li > span:after {
  /*General properties*/
  content: "";
  margin-left: -0.4rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: var(--site-secondary-color) transparent transparent transparent;
  /*Position*/
  position: absolute;
  top: 100%;
  left: 50%;
}

.home__article--list > li:hover > span {
  /*General properties*/
  visibility: visible;
  opacity: 1;
}

.home__article--start {
  /*General properties*/
  font-size: var(--main-font-size);
  color: var(--font-secondary-color);
  text-decoration: none;
  width: 6rem;
  height: 2.8rem;
  border-radius: 2rem;
  border: solid 2px var(--font-secondary-color);
  /*Display*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__article--start:hover {
  /*General properties*/
  color: var(--site-white-color);
  border: solid 2px var(--site-primary-color);
  background-color: var(--site-primary-color);
}

.home__logo {
  /*General properties*/
  width: 18rem;
  height: 18rem;
  /*Display*/
  order: -1;
}

/*HOME PAGE MEDIA QUERIES PC*/

@media screen and (min-width: 1200px) {
  home-page {
    /*Display*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    /*Position*/
    position: relative;
  }

  /*ARTICLE*/
  .home__article {
    /*General properties*/
    height: 100%;
    width: 100%;
    /*Position*/
    z-index: 10;
    /*Display*/
    flex-direction: row;
    align-items: flex-start;
    gap: 5rem;
  }

  .home__hero {
    /*General properties*/
    width: 100%;
    font-size: 13.4rem;
    font-weight: 400;
    text-align: center;
    /*Position*/
    position: absolute;
    margin: 0 auto;
    bottom: -13rem;
    order: -1;
  }

  .home__article > div {
    /*General properties*/
    width: 28%;
    text-align: start;
    padding-top: 7rem;
    /*Display*/
    align-items: flex-start;
    gap: 1rem;
  }

  .home__article--title {
    /*General properties*/
    width: 95%;
  }

  .home__article--list {
    /*General properties*/
    width: 70%;
    /*Display*/
    gap: 3rem;
  }

  .home__logo {
    /*General properties*/
    width: 30rem;
    height: 30rem;
    padding-top: 5rem;
    /*Display*/
    order: 0;
    /*Position*/
    z-index: 15;
  }
}
