/*SUNLAB PAGE*/

sunlab-page {
  /*General properties*/
  width: 100%;
  min-height: 100%;
  /*Display*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/*SUNLAB PAGE MEDIA QUERIES TABLET*/

@media screen and (min-width: 768px) {
  sunlab-page {
    /*Display*/
    gap: 3rem;
  }
}

/*SUNLAB PAGE MEDIA QUERIES PC*/

@media screen and (min-width: 1200px) {
  sunlab-page {
    /*General properties*/
    height: 100%;
    /*Display*/
    gap: 2.2rem;
  }
}
