/*BODY*/
body {
  /*General properties*/
  height: 100vh;
  width: 100vw;
  background-color: var(--site-background-color);
  /*Position*/
  position: relative;
}

/*MAIN*/
#outlet {
  /*General properties*/
  width: 100%;
  min-height: 90vh;
  padding: 5rem 1rem 1rem 1rem;
  /*Display*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  /*MAIN*/
  #outlet {
    /*General properties*/
    padding: 5rem 2rem 0rem 2rem;
  }
}

@media screen and (min-width: 1200px) {
  /*MAIN*/
  #outlet {
    /*General properties*/
    min-height: 90vh;
    padding: 1rem 4rem 0rem 4rem;
  }
}
